<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/ad_form.css" />
    <include path="~/Content/ads.css" />
    <include path="~/Content/info_page.css" />
    <include path="~/Content/person_form.css" />
  </styleBundle>
</bundles>